body {
	margin: 0;
	padding: 0;
	font-family: 'arial', serif;
}

.navBar {
    background-color:#1a4ead;
    color:white;
	margin:  0 0 30px 0;
    list-style: none;
    text-align: center;
    padding: 0 0 30px 0;
	height:69px;
}

.btn-group a {
	background-color: #1a4ead;
	border: none;
	color: white;
	margin-bottom:30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 29px 16px;
	font-size: 30px;
	cursor: pointer;
	float: left;
}

.btn-group a:hover {
	background-color: #4d8cff;
	border-bottom: 6px solid #3775e6;
}
.btn-group a.active{
	background-color: #4d8cff;
	border-bottom: 6px solid #3775e6;
}


.btn-group .logButton {
	background-color: #3775e6;
	border-radius: 2px;
	color: white;
	float:right;
	text-align: center;
	text-decoration: none;
	display:block;
	padding: 16px 16px;
	font-size: 15px;
	cursor: pointer;
	margin: 22px 22px 0 -10px;
}

.photo img{
	height:95px;
	float: left;
}
	
.backbox {
	text-align: center;
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #1a4ead;
}

.extraBackBox {
	text-align: center;
	padding: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #1a4ead;
}

.selectCountry {
	font-size: 15px;
	font-family: sans-serif;
	font-weight: bold;
	color: #1a4ead;
	padding: 10px;
	width: 70%;
	border: none;
	border-radius: 5px;
	appearance: none;
	background-color: whitesmoke;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	linear-gradient(to bottom, white 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.submitButton {
	padding: 10px;
	margin-left: 10px;
	font-size: 15px;
	color: white;
	background: #3775e6;
	border: none;
	border-radius: 5px;
}

.submitButton:hover{
	padding: 10px;
	margin-left: 10px;
	font-size: 15px;
	color: white;
	background: #4d8cff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.stnButton {
	border: none;
	background: none;
	font-size: inherit;
	text-decoration: underline;
	cursor: pointer;
}

.stnButtonSearch {
	padding: 10px;
	margin-left: 10px;
	font-size: 15px;
	color: white;
	background: #3775e6;
	border-radius: 5px;
}

.stationTable {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 90%;
	margin: auto;
}

.stationTable td{
	border: 1px solid #ddd;
	padding: 8px;
	white-space: nowrap;

}

.stationTable th{
	border: 1px solid #ddd;
	padding: 12px 8px;
	text-align: left;
	background-color: #3775e6;
	color: white;
}

.stationTable tr{
	background-color: #dddddd;
}

.stationTable tr:nth-child(even){
	background-color: #f2f2f2;
}

.stationTable tr:hover {
	background-color: grey;
}

.graphTable {
	padding: 5px;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 15px;
	color: white;
	background: #3775e6 !important;
	border-radius: 5px;
	text-decoration: none;
}

.stationTextInput {
	font-size: 15px;
	font-family: sans-serif;
	font-weight: bold;
	color: #1a4ead;
	padding: 10px;
	width: 80%;
	border: none;
	border-radius: 5px;
	appearance: none;
	background-color: whitesmoke;
}

.formlabel{
	font-size: 15px;
	color: white;
	font-weight: bold;
}

fieldset{
	border-color: white;
	margin: auto;
	width: 50%;
	position: center;
	padding-right: 0;
	padding-left: 0;
}
legend{
	color:white;
}







